@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-image: url(images/background1.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color:rgba(3,8,12);
    min-width:fit-content;
}

h1 {
    margin: 1em;
}

h3 {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: max-content;
    text-align: center;
}

.container--center {
    width: fit-content;
}

.container--center a {
    text-decoration: none;
    color: inherit;
}

.container--side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 350px;
    margin: 100px 10px;
}

.coordinate {
    cursor: crosshair;
}

.ships {
    margin-bottom: 50px;
    text-align: center;
}

.status {
    height: 10em;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 2px;
}

.sunk-ship {
    text-decoration: line-through;
    color: darkgray;
}

.button {
    font-family: 'Roboto Mono', monospace;
    width: fit-content;
    margin: 0 auto;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
}

.button:hover {
    border: 1.5px solid white;
    cursor: pointer;
}

table {
  border-spacing: 0px;
  padding: 10px;
}

td {
    border: 0.5px black solid;
    width: 40px;
    height: 40px;
}

.hit {
    background: url(images/hit.png) no-repeat center;
    background-size: 30px;
}

.miss {
    background: url(images/miss.png) no-repeat center;
    background-size: 30px;
}

th {
    padding-right: 5px;
}