@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

body {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    margin: 0px auto;
    width: 1280px;
    height: auto;
    color: white;
    background: url(images/background1.jpg) center;
    background-repeat: no-repeat;
    background-color:rgba(3,8,12);
}

h3 {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 23em;
    width: 24em;
    text-align: center;
}

.container--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.container--side {
    margin-top: 100px;
    padding: 0 10px;
}

.ships {
    margin-bottom: 50px;
    text-align: center;
}

.status {
    height: 10em;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 2px;
}

.sunk-ship {
    text-decoration: line-through;
    color: darkgray;
}

.button {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
}

.button:hover {
    border: 1.5px solid white;
    cursor: pointer;
}

table {
  border-spacing: 0px;
  padding: 10px;
}

td {
    border: 0.5px black solid;
    width: 40px;
    height: 40px;
}

.hit {
    background: url(images/hit.png) no-repeat center;
    background-size: 30px;
}

.miss {
    background: url(images/miss.png) no-repeat center;
    background-size: 30px;
}

th {
    padding-right: 5px;
}